*{
  font-family: 'Oswald', sans-serif;
}
body{
  background: linear-gradient( to left,#9091ef,#4e5b98);
  background-size: contain; 
<<<<<<< HEAD
}
=======
}
>>>>>>> 77e2ac482efcf4501ed4ebe39eb4c72a30e4864c
